{% extends "base.html" %}
{% block title %}My first Django Blog{% endblock %}
{% block sidebar %}
   <ul>
       <li><a href="/posts">Cancel</a></li>
   </ul>
{% endblock %}
{% block content %}
  <form action="/posts/create/" method="post">{% csrf_token %}
    <ul>
      {{form.as_ul}}
    </ul>
    <input type="submit" name="submit" value="Create Post"/>
  </form>
{% endblock %}