{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{%block content%}
<h2>{{ post.title }}</h2>
<h3>{{ post.created }}</h3>
<p>{{ post.text }}</p>
<div class="categories">
	<b>Tags:</b> {% for category in post.categories.all %}
		<a href="{% url 'categories:detail' category.id %}">{{ category }}</a>
	{% endfor %}
</div>
<h2>Comments</h2>
{% if post_comments %}
{% for comment in post_comments %}
  <div>
  <div>
  	 {{comment.author}}
  	 {{comment.created}}
  </div>
  <div>
  	 {{comment.comment}}
  </div>
</div>
{% endfor %}
{% endif %}
{% if form %}
<div id="comment_form">
    <form action="" method="post">{% csrf_token %}
      {{form}}
    <input type="submit" name="submit" value="Create Comment"/>
  </form>
</div>
{% else %}
<div id="must_login">
    <p>Please login to leave a comment</p>
</div
{% endif %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{%endblock%}
