{% extends "base.html" %}
{% block title %}My first Django Blog{% endblock %}
{% block content %}
  
  {% if latest_posts_list %}  
    {% for post in latest_posts_list %}
       <a href="{% url 'posts:detail' post.id %}"><h2>{{ post.title }}<h2></a>
       <h3>{{ post.created }}</h3>
       <p>{{ post.text|truncatewords:"40" }}</p>
       <div class="categories">
        <b>Tags:</b> {% for category in post.categories.all %}
           <a href="{% url 'categories:detail' category.id %}">{{ category }}</a>
         {% endfor %}
       </div>
    {% endfor %}   
  {% else %}
    <p>No posts are available.</p>
  {% endif %}
{% endblock %}