{% extends 'base.html' %}
{% block title %}{{category_name.category}}{% endblock %}
{% block content %}
{% for post in category_posts %}
<h1>{{ post.title }}</h1>
<h3>{{ post.created }}</h3>
<p>{{ post.text }}</p>
<div class="categories">
	<b>Tags:</b> {% for category in post.categories.all %}
		<a href="{% url 'categories:detail' category.id %}">{{ category }}</a>
	{% endfor %}
</div>
{% endfor %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}