{% extends 'base.html' %}
{% block title %}Categories list{% endblock %}
{% block content %}
<h2>Categories list</h2>

{% if categories_list %}
   <ul>
    {% for category in categories_list %}
      <li> <a href="{% url 'categories:detail' category.id %}">{{ category.category }}</a></li>

    {% endfor %}
  </ul>
    
{% else %}
    <p>No categories are available.</p>
{% endif %}
{% endblock %}