{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
	<div id="wrapper">
		<div id="conteiner">
		    <div id="sidebar">
		        {% block sidebar %}
		        <h3>Navigation</h3>
		        <ul>
		            <li><a href="/">Home</a></li>
		            <li><a href="/posts/">Blog</a></li>
		            <li><a href="/categories/">Categories</a></li>
		        </ul>
		        {% include "last_news.html" %}
		        {% endblock %}
		    </div>

		    <div id="content">
		        {% block content %}{% endblock %}
		    </div>
		    <div class="clearfix"></div>
		</div>
	</div>
</body>
</html>