<div id="last_news">
 <h3>Latest News</h3>
 <ul>
  {% for last_new in last_news %}
     <li><a href="{% url 'posts:detail' last_new.id %}">{{ last_new.title }}</a> <span style='font-size:10px;'>{{last_new.created}}</span></li>
 {% endfor %}
 </ul>
</div>